.ownDarkGrey{
    background: #4f4e4e;
    color: #ffffff;
}
.blueGrey{
    color: #6a6c85;
}
body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.userAvatar{
    width: 40px;
    height: 40px;
}
.redBg{
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
}
.ownBtnBorR{
    border-radius: 5px;
}
.secondAccordionBG{
    background-color: #eeffed;
}
.allTitles{
    font-weight: bold;
    font-size: 18px;
}
.allSubTitles{
    font-weight: normal;
    font-size: 15px;
}
.pinkBg{
    background-color: #ffd9dd;
}
.borRadius20{
    border-radius: 20px;
}
.underImageIcons{
    border-radius: 50%;
    border: 1px solid transparent;
    background: #1e8afc;
    color: #ffffff;
    padding: 5px;
}
.underImageIcons:hover{
    background: #50db30;
    color: #ffffff;
}
.underTransparentDivIcons{
    border-radius: 50%;
    border: 1px solid transparent;
    background: #ffffff;
    padding: 5px;
    margin-right: 20px;
}